[Unit]
Description=Process Killer Daemon
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/sbin/proc_killer_v9
EnvironmentFile=-/etc/sysconfig/proc_killer.conf
Restart=always
WatchdogSec=60s

[Install]
WantedBy=multi-user.target
